<nav class="navbar navbar-light p-0 bg-texture">
<button class="navbar-toggler text-white border-0 m-0 p-0 h-100 border-radius-0" data-toggle="collapse" data-target="#aside-menu"

 aria-controls="aside-menu" aria-expanded="false" role="button" aria-label="Toggle navigation">
    <span class="">
<img src="assets/logos/svg/hamburguesa-02.svg" alt="">


    </span>
  </button>

<a class="logo p-0 pr-2" href="">
  <img id="logo" src="assets/logos/svg/patri-white.svg" class="img-fluid d-inline-block h-100" alt="Patricia Garcia">
</a>

</nav>
