@import '../../../scss/styles.scss';

.navbar {
    height: 50px;
}

.navbar button {
    height: 50px;
    width: 50px;
    @include media-breakpoint-up(md) {
      display: none;
    } // Large


}

.logo:hover {
  cursor: pointer;
}

.logo {
  height: 50px;
  width: 50px;
}

.border-radius-0 {
  border-radius: 0px;
}

.bg-texture {
  background: $darken-secondary no-repeat center center;
  background-image: url(assets/backgrounds/header-texture.jpeg);
  background-size: 100%;


}

.navbar-toggler{
  img{
    height: 2rem;
    width: 2rem;
  }
}
