<nav class="navbar navbar-light bg-danger p-0">
  <button class="navbar-toggler text-white border-0 m-0 p-0 h-100 border-radius-0" data-toggle="collapse" data-target="#aside-menu"
 aria-controls="aside-menu" aria-expanded="false" role="button" aria-label="Toggle navigation">
    <span class="">
      <i class="fa fa-bars fa-1x"></i>
    </span>
  </button>

<a class="logo p-0 pr-2" href="">
  <img id="logo" src="assets/logos/svg/patri-white.svg" class="img-fluid d-inline-block h-100" alt="Patricia Garcia">
</a>

</nav>
