@import '../../../scss/_variables.scss';

.navbar {
    height: 50px;
}

.navbar button {
    height: 50px;
    width: 50px;
    background: $darken-primary;
}

.logo:hover {
  cursor: pointer;
}

.logo {
  height: 50px;
  width: 50px;
}

.border-radius-0 {
  border-radius: 0px;
}

.bg-texture {
  background: url(assets/backgrounds/header-texture.jpeg) no-repeat center center;
  background-size: 100%;


}