<div class="container-fluid p-0 m-0 d-flex flex-wrap justify-content-center">
  <div class="column col-4 col-lg-1 p-0">
    <figure class="m-0" (click)="changePage(7)">

      <a class="d-block">
        <img class="img-fluid border-0" src="{{images[7].src}}" alt="">
      </a>
    </figure>
    <figure class="m-0" (click)="changePage(1)">

      <a class="d-block">
        <img class="img-fluid border-0" src="{{images[1].src}}" alt="">
      </a>
    </figure>
    <figure class="m-0" (click)="changePage(6)">

      <a class="d-block">
        <img class="img-fluid border-0" src="{{images[6].src}}" alt="">
      </a>
    </figure>


  </div>
  <div class="column col-4 col-lg-1 p-0">

    <figure class="m-0" (click)="changePage(3)">

      <a class="d-block">
        <img class="img-fluid border-0" src="{{images[3].src}}" alt="">
      </a>
    </figure>
    <figure class="m-0" (click)="changePage(0)">

      <a class="d-block">
        <img class="img-fluid border-0" src="{{images[0].src}}" alt="">
      </a>
    </figure>
    <figure class="m-0" (click)="changePage(8)">

      <a class="d-block">
        <img class="img-fluid border-0" src="{{images[8].src}}" alt="">
      </a>
    </figure>


  </div>

  <div class="column col-4 col-lg-1 p-0">

    <figure class="m-0" (click)="changePage(2)">

      <a class="d-block">
        <img class="img-fluid border-0" src="{{images[2].src}}" alt="">
      </a>
    </figure>
    <figure class="m-0" (click)="changePage(4)">

      <a class="d-block">
        <img class="img-fluid border-0" src="{{images[4].src}}" alt="">
      </a>
    </figure>
    <figure class="m-0" (click)="changePage(5)">

      <a class="d-block">
        <img class="img-fluid border-0" src="{{images[5].src}}" alt="">
      </a>
    </figure>


  </div>
</div>
