@import '../scss/styles.scss';
* {
    font-family: $font-family-base;
    color: $line;
    font-size: 1.1rem;
}

html, body {
    background: $line;
}

.app-container {
    height: $height-wo-header;
    background: $line;
    @include media-breakpoint-up(md) {
      height: 100%;
    } // Large

}
