@font-face {
  font-family: 'CallingCode';
  src: url(assets/fonts/CallingCode-Regular.ttf);
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url(assets/fonts/oswald/Oswald-Bold.ttf);
}

@font-face {
  font-family: 'Oswald-Light';
  src: url(assets/fonts/oswald/Oswald-Light.ttf);
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url(assets/fonts/oswald/Oswald-Regular.ttf);
}

@font-face {
  font-family: 'Barlow-Bold';
  src: url(assets/fonts/barlow/BarlowCondensed-Bold.ttf);
}

@font-face {
  font-family: 'Barlow-Light';
  src: url(assets/fonts/barlow/BarlowCondensed-Light.ttf);

}

@font-face {
  font-family: 'Barlow-Regular';
  src: url(assets/fonts/barlow/BarlowCondensed-Regular.ttf);

}



