@font-face {
  font-family: 'Barlow-Bold';
  src: url(assets/fonts/barlow/BarlowCondensed-Bold.ttf);
}

@font-face {
  font-family: 'Barlow-BoldItalic';
  src: url(assets/fonts/barlow/BarlowCondensed-BoldItalic.ttf);

}

@font-face {
  font-family: 'Barlow-Italic';
  src: url(assets/fonts/barlow/BarlowCondensed-Italic.ttf);
}



@font-face {
  font-family: 'Barlow-Light';
  src: url(assets/fonts/barlow/BarlowCondensed-Light.ttf);

}

@font-face {
  font-family: 'Barlow-Regular';
  src: url(assets/fonts/barlow/BarlowCondensed-Regular.ttf);
}



