@font-face {
  font-family: 'CallingCode';
  src: url(assets/fonts/CallingCode-Regular.ttf);
}

@font-face {
  font-family: 'RobotoCondensed-Bold';
  src: url(assets/fonts/roboto/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: 'RobotoCondensed-Light';
  src: url(assets/fonts/roboto/RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  src: url(assets/fonts/roboto/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url(assets/fonts/oswald/Oswald-Bold.ttf);
}

@font-face {
  font-family: 'Oswald-Light';
  src: url(assets/fonts/oswald/Oswald-Light.ttf);
}

@font-face {
  font-family: 'Oswald-Regular';
  src: url(assets/fonts/oswald/Oswald-Regular.ttf);
}

