<aside class="bg-darken-secondary bg-rain h-100">
  <div class="page-logo col-md-7 col-lg-8 mx-auto">

    <div class="hidden-md-down">

      <a href="">

        <img src="assets/logos/svg/logo.lluvia.welcome.svg" class="img-fluid" alt="">

      </a>
    </div>

  </div>
  <div class=" menu-presentation pb-2">
    <div class="contact-presentation container-fluid p-0">
      <div class="col-12">
        <h1 class="h4 app-title text-uppercase m-0">{{title}}</h1>
        <span class="app-subtitle">{{subtitle}}</span>
        <span class="nav-item" (click)="openContact()">
          <a class="nav-link text-right p-0 contant-link">{{contact.shortTitle}} &raquo;</a>
        </span>
      </div>
    </div>
    <div class="social-bar d-flex flex-row-reverse">
      <div class="mr-2 pr-1 pl-1">
        <a href="https://www.instagram.com/ilustrapg" target="_blank">

          <img src="assets/logos/svg/instagram.svg" class="img-fluid" alt="">
        </a>
      </div>
      <div class="">
        <a href="https://www.facebook.com/ilustrapg" target="_blank">
          <img src="assets/logos/svg/facebook.svg" class="img-fluid" alt="">
        </a>
      </div>

    </div>

  </div>
  <nav class="text-white ">
    <ul class="col-12 m-0">

      <li class="nav-item" (click)="pageChange(page)" [class.active]="activePage==page" *ngFor="let page of pages | key">



        <a class="nav-link p-0">{{pages[page].shortTitle}}

        </a>
      </li>
    </ul>

  </nav>

</aside>
