@import '../../../scss/styles.scss';
#aside-menu {
  height: $height-wo-header;
  z-index: 1;

}

nav {
  ul {
    li {
      a {
        color: $white;
        font-weight: 500;
        font-size: 1.2rem;
        padding: 0.3rem 0rem !important;
        text-decoration: none;
        text-align: left;
      }
    }
  }
}

.bg-darken-secondary {
  background: url(assets/logos/svg/lluvia.patron.light.svg), $darken-primary;
}

h1 {
  color: $darken-secondary;
  font-family: $font-family-title !important;
}

ul {
  padding: 0px;
  list-style-type: none;
}

nav ul li a {
  color: $line;
}

nav ul li.active a {
  text-decoration: underline;
}

.social-bar {
  img {
    height: 2rem;
    width: 2rem;
  }
}

.more-information {
  font-size: 0.7rem;
}
