@import '../../../scss/styles.scss';

#aside-menu {
  height: calc(100% - 50px);

}

nav {
  ul {
    li {
      a {
        color: $white;
        font-weight: 500;
        font-size: 1.1rem;
        text-decoration: none;
        text-align: left;
        padding: 0.2rem 1rem;

        &.section-link {
          font-size: 1.2rem;
          padding: 0.2rem 1rem;


        }

        &.group-link {
          font-size: 1.1rem;
          padding: 0.2rem 1rem;
          padding-top: 0.5rem;


        }

      }
    }
  }
}


.bg-darken-secondary {
  background : $darken-primary url(assets/logos/SVG/logo.lluvia.welcome.todorojo.svg) 50% 5%/75% no-repeat;



}

ul {
  padding: 0px;
  list-style-type: none;
}

nav ul li a {
  color: $line;
}
nav ul li.active a{
  text-decoration: underline;
}

.menu-presentation {
  height: 25%;
}