@import '../../../scss/styles.scss';
nav {
  height: calc(10 * 51px);
  display: flex;
  background: $linen;
  overflow-y: auto;
  max-height: calc(10 * 51px);
  ul {
    padding: 0px;
    list-style-type: none;
    li {
      .nav-link {
        color: $red;
        font-family: 'Barlow-Bold';
        font-size: 1.6rem;
        text-decoration: none;
        text-align: right;
        text-transform: uppercase;
        display: inline-block;
        text-align: right;
        width: 100%;
        padding-right: 15px !important;
        line-height: 1.6em;
        &:active,
        &:hover,
        &:link,
        &:visited,
        &:focus {
          text-decoration: none !important;
          text-decoration-line: none !important;
          text-decoration-style: unset !important;
        }
      }
      &.active {
        background: $darken-secondary no-repeat center center;
        background-image: url(assets/backgrounds/header-texture.jpeg);
        background-size: 100%;
        .nav-link {
          background: $darken-secondary no-repeat center center;
          background-image: url(assets/backgrounds/header-texture.jpeg);
          background-size: 100%;
          color: $white;
        }
      }
    }
  }
}

h1 {
  color: $darken-secondary;
  font-family: $font-family-title !important;
}

.social-bar {
  img {
    height: 2rem;
    width: 2rem;
  }
}

.nav-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.menu-presentation {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.app-title {
  color: $red;
}

.app-subtitle {
  font-family: 'Barlow-BoldItalic';
  color: $red;
}

.app-email,
.app-phone {
  font-size: 1.5rem;
  @include media-breakpoint-up(lg) {
    font-size: 2rem;
  }
}

.app-subtitle,
.app-email,
.app-phone,
.app-title {
  text-align: right;
  display: block;
}

.app-email,
.app-phone {
  display: none;
}

.page-logo {
  @include media-breakpoint-down(sm) {
    display: none;
  } // Large
}

a.contant-link {
  font-size: 1.5rem;
}
